#version: "3.8"
#services:
#  mqtt:
#    image: eclipse-mosquitto:2.0
#    ports:
#      - "1883:1883"
#    volumes:
#      - ./mosquitto/config:/mosquitto/config
#  edge:
#    build: .
#    volumes:
#      - ./app:/app
#    depends_on:
#      - mqtt
#    environment:
#      - MQTT_BROKER=mqtt
#      - MQTT_PORT=1883
#      - HOUSE_ID=home-01
#      - EDGE_ID=edge-pi-001

version: "3.8"
services:
  mqtt:
    image: eclipse-mosquitto:2.0
    ports:
      - "1883:1883"
  edge:
    build: .
    environment:
      HOUSE_ID: "home-01"
      EDGE_ID: "edge-pi-01"
    depends_on:
      - mqtt
    volumes:
      - ./app/models:/app/models
